<body id="agendamento" onload="preencheMedico()">
<h1>Agendamento</h1>
{{#if error}} <span>{{error}}</span>{{/if}}

<form method="POST" action="/agendamento/">
  <div class="form-group">
      <label for="selectCidade">Escolha a Cidade</label>
      <select class="form-control" id="selectCidade">
        <option value="Porto">Porto</option>
        <option value="Braga">Braga</option>
        <option value="Guimaraes">Guimaraes</option>
        <option value="Lisboa">Lisboa</option>
      </select>
  </div>
  <div class="form-group">
      <label for="selectMedico">Escolha o seu Médico</label>
      <select class="form-control" id="selectMedico" onchange="escolhaMedico(this)>
        <option disabled>Selecione o Seu Médico</option>

	  </select>
  </div>
  <div class="form-group">
    <label>Medico</label>
    <input type="text" name="medico" id="medico" class="form-control" placeholder="Preencher com o seu Médico" > <!-- disabled -->
  </div>
  <div id="horario">
	  <div class="form-group">
		  <label for="selectHorario">Escolha o Horario</label>
		  <select class="form-control" id="selectHorario" onchange="changeHiddenInput(this)">
			<option disabled>Horários Manhã</option>
			<option value="08:00|08:45">08:00 as 08:45</option>
			<option value="08:45|09:30">08:45 as 09:30</option>
			<option value="09:30|10:15">09:30 as 10:15</option>
			<option value="10:15|11:00">10:15 as 11:00</option>
			<option disabled>Horários Tarde</option>
			<option value="13:30|14:15">13:30 as 14:15</option>
			<option value="14:15|15:00">14:15 as 15:00</option>
			<option value="15:00|15:45">15:00 as 15:45</option>
			<option value="15:45|16:30">15:45 as 16:30</option>
			<option value="16:30|17:15">16:30 as 17:15</option>
		  </select>
	  </div>
  </div>

  <div class="form-group">
    <!-- <label>Horario de Inicio</label> -->
    <input type="text" name="horarioInicio" id="horarioInicio" class="form-control" placeholder="Horario de Inicio da Consulta" hidden> <!-- disabled -->
  </div>
  <div class="form-group">
    <!-- <label>Horario de Termino</label>  -->
    <input type="text" name="horarioTermino" id="horarioTermino" class="form-control" placeholder="Horario de Termino da Consulta" hidden> <!-- disabled -->
  </div>
  <div class="form-group">
    <label>Dia</label>
    <input type="date" name="dia" class="form-control" placeholder="Dia pretendido" {{#if datahj}} min="{{datahj}}" {{else}} min="2020-01-02" {{/if}} required>
  </div>
  <div class="form-group">
    <label>Nome Completo</label>
    <input type="text" name="nome" class="form-control" placeholder="Preencher com o seu nome" required>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" name="email" class="form-control" placeholder="Preencher com o seu Email" >
  </div>
  <input type="submit" class="btn btn-primary" value="Salvar">
</form>
</body>

<script>
	function changeHiddenInput (objDropDown)
    {	
        var objHini = document.getElementById("horarioInicio");
        objHini.value = objDropDown.value.split('|')[0];  
		var objHterm = document.getElementById("horarioTermino");
        objHterm.value = objDropDown.value.split('|')[1];  
    } 
	
	function escolhaMedico (objDropDown)
    {	
        var objMed = document.getElementById("medico");
        objMed.value = objDropDown.value;
    } 

	function preencheMedico(){
		{{#each this.medico }}
			  var x = document.createElement("OPTION");
			  x.setAttribute("value", "Medico "{{medico.name}} );
			  var t = document.createTextNode( "Medico "{{medico.name}} );
			  x.appendChild(t);
			  document.getElementById("selectMedico").appendChild(x);
		{{/each}}
	}	
</script>