<!-- /*
<h1>{{user.first_name}} {{user.last_name}} [{{user.id}}]</h1>
<ul class="list-group">
  <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
  <li class="list-group-item"><strong>Phone: </strong>{{user.phone}}</li>
</ul>

<div class="btn-group">
	<a class="btn btn-default pull-left" href="/">Voltar</a>
	
	<form method="POST" action="/user/delete/{{user.id}}?_method=DELETE">
	  <input type="submit" class="btn btn-danger pull-right" value="Delete">
	</form>
</div> */ -->

<style rel="stylesheet" type="text/css">
.tudo { display: table; width: 900px;}
.linha { width: 100%;}
.foto { float: left; margin-right: 10px; }
.conteudo { margin-left: 5%; }
</style>

<div class="tudo">
	{{#each this.users }}
	<div class="linha">
		<div class="foto">
		<img src="{{image}}" width="70" height="70" alt="{{name}} foto"/>
		</div>
		<div class="conteudo">
		  <!-- /* This Externo : KEY:{{@key}} Value:{{@value}} NAME: {{name}} this.NAME: {{this.name}}<br> */ -->
		  POS: {{@key}} NAME: {{name}}<br>
		  {{#each this}}
			{{log this}}
			<!-- /* User : " KEY:"{{@key}} " This: " {{this}}<br> */ -->
			{{@key}}: {{this}} <br>
		  {{/each}}
		  <hr>
		</div>
	</div>
	{{/each}}
	
	{{#each this.agends }}
	<div class="linha">
		
		<div class="conteudoAge">
		  <!-- /* This Externo : KEY:{{@key}} Value:{{@value}} NAME: {{name}} this.NAME: {{this.name}}<br> */ -->
		  POS: {{@key}} <br>
		  {{#each this}}
			{{log this}}
			<!-- /* User : " KEY:"{{@key}} " This: " {{this}}<br> */ -->
			{{@key}}: {{this}} <br>
		  {{/each}}
		  <hr>
		</div>
	</div>
	{{/each}}
	
	{{#each this.pags }}
	<div class="linha">
		
		<div class="conteudoPags">
		  <!-- /* This Externo : KEY:{{@key}} Value:{{@value}} NAME: {{name}} this.NAME: {{this.name}}<br> */ -->
		  POS: {{@key}} <br>
		  {{#each this}}
			{{log this}}
			<!-- /* User : " KEY:"{{@key}} " This: " {{this}}<br> */ -->
			{{@key}}: {{this}} <br>
		  {{/each}}
		  <hr>
		</div>
	</div>
	{{/each}}
	
	{{#each this.checkins }}
	<div class="linha">
		
		<div class="conteudoCheckIns">
		  <!-- /* This Externo : KEY:{{@key}} Value:{{@value}} NAME: {{name}} this.NAME: {{this.name}}<br> */ -->
		  POS: {{@key}} <br>
		  {{#each this}}
			{{log this}}
			<!-- /* User : " KEY:"{{@key}} " This: " {{this}}<br> */ -->
			{{@key}}: {{this}} <br>
		  {{/each}}
		  <hr>
		</div>
	</div>
	{{/each}}
	
</div>


